@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_UILayout.cshtml"; //TODO REAL TIME COMMUNICATION - CHAT APP USAGE 4
}

<br />
<br />
<br />


<div class="container mt-5 p-4 bg-white rounded shadow-sm">
    <div class="row mb-3">
        <div class="col-2 font-weight-bold">User</div>
        <div class="col-10">
            <input type="text" id="userInput" class="form-control" placeholder="Enter your name" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-2 font-weight-bold">Message</div>
        <div class="col-10">
            <input type="text" id="messageInput" class="form-control" placeholder="Enter your message" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-12 text-right">
            <input type="button" id="sendButton" class="btn btn-primary" value="Send Message" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-12">
            <ul id="messagesList" class="list-group"></ul>
        </div>
    </div>
</div>
<br />
<br />
<br />


<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>

<style>
    body {
        background-color: #f8f9fa;
    }

    .container {
        max-width: 1000px;
    }

    #messagesList {
        max-height: 300px;
        overflow-y: auto;
        border: 1px solid #ced4da;
        border-radius: 5px;
        padding: 10px;
    }

    .list-group-item {
        margin-bottom: 5px;
    }
</style>
